
<ion-content>
<app-header></app-header>

<div class="searchbar-content">
  <ion-searchbar></ion-searchbar>
</div>
  
<div style="padding-left: 15px;">
 
  <!----------------------------------------Category-------------------------------------------->
 <app-category></app-category>

  <!----------------------------------------Product card-------------------------------------------->
  <app-product-card></app-product-card>

  <!----------------------------------------Anuncios-------------------------------------------->
<h2 style="font-size: 15px; padding: 5px; font-weight: bold; padding-left: 20px;">Novedades</h2>
<app-advertising></app-advertising>

</div>
</ion-content>