
  <ion-slides style="padding-top: 70px;" class="ion-no-padding" [options]="product">
    <ion-slide *ngFor="let c of [1,1,1,1,1,1,1,1]">
      <div class="product-img">
        <img src="../../../../assets/img/pizza_PNG44092.png">
      </div>
      <ion-card class="product-card">
        <div class="title">
          <h3>Pizza Italiana</h3>
          <p>Seis ingredientes</p>
        </div>
        <div class="btn-cart">
          <ion-icon name="cart"></ion-icon>
        </div>
        
      </ion-card>
<div class="price">10 USD</div>

    </ion-slide>
  </ion-slides>

