
ion-card{
    padding-right: 20px;
    position: relative;
    left: 7px;
    border-radius: 15px;
    width: 90%;
    height: 70%;
}

.avatar{
    padding: 30px;
    position: relative;
    left: 80px;
  ion-avatar{
    border: 4px solid var(--ion-color-light) !important;
    width: 120px;
    height: 120px;
  }  
}


.btn{
    ion-card{
        border-radius: 100%;
        background-color: var(--ion-color-secondary);
        width: 40px;
        height: 40px;
        
    }

    ion-icon{
        font-size: 25px;
        color: var(--ion-color-light);
        position: relative;
        left: 5px;
        top: 10px;
    }
}

